* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
  }.container{
    
    font-weight: 400px;
  }
  html{
    font-weight: 400px;
  }
  .header h1{
    text-align: center;
    margin-top: 5rem;
  }
  .header p{
text-align: center;

  }.header p spna{
    background-color: yellow;
  }
  .header {
align-items: center;
  }.button {
   
    margin-top: 3rem;
  }
  .header h5{
font-size: 12px;
text-align: center;
color: rgb(167, 163, 163);
  }
  .card-group{
    margin-top: 3rem;
  }
  .card-group img{
height: 50px;
width: 50px;
align-items: center;
margin-left: 45%;
  }
  .card-group.card{
   margin-top: 20px;
   bottom: 20px;
  
  }.card{
    margin: 2px;
    padding: 0px;
   border: none;
   
  }.card h4{
    font-size: 16px;
  color: black;
    text-align: center;
    
  }.card p{
    font-size: 14px;
  }.text img{
    height: 400px;
    width: 100%;

  }.work h1{
   
    padding: 5px;
    
  }
  .text h1{
    font-size: 20px;
    margin-bottom: 3rem;

  }
  .flex-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 70px;
  }.style-line{
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color:  #39a7f4;;
    margin-bottom: 20px;
    
   
   
  }.home{
    height: auto;
    
  }
  .home h2{
    color:#39a7f4;
   font-weight: 400px;
    
  }.home p{
  text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }.home li{
list-style: none;


  }.home ul{
    margin-top: 2rem;
margin-bottom: 2rem;
  }
.flex-img{
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.img{
  height: auto;
  width: 100%;
}
.footer{
  background-color: #39a7f4;
}
.button h3{
  font-size: 10px;
}
.text h6{
  font-size: 34px;
    color: #111;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}.text h3{
  font-size: 20px;
  color: #302d2d;
  margin-top: 30px;
  margin-bottom: 20px;
text-align: center;
}
@media(max-width: 769px){
  .flex-line{
    display: block;

  }
}